#files
chrome-profiler-events.json
.classpath
database
.project
speed-measure-plugin.json

#file types
*.iml
*.ipr
*.iws
*.launch
*.log
*.sublime-workspace
*.swp
*.tar
*.war
*.zip

#folders
**/build/**
**/.c9/**
**/dist/**
**/.gradle/**
**/.history/**
**/.idea/**
**/out/**
**/.settings/**
**/.vscode/**
